#container {
    width: 600px;
    height: 600px;
    border-style: solid;
    border-color: black;
    display: grid;
    background-color: white;


}
.cell {
    font-style: 10px;
}
.sketchBlack {
    background-color: black;
}
.sketchGrey {
    background-color: gray;
}