#container {
    width: 600px;
    height: 600px;
    border-style: solid;
    border-color: black;
    display: grid;
    background-color: white;
    margin: auto;


}
.cell {
    font-style: 10px;
}
.sketchBlack {
    background-color: black;
}
.sketchGrey {
    background-color: gray;
}
#control {
    display: flex;
    justify-content: center;
    align-items: center;
}